// Fonts

$header-font: 'Chau Philomene One', sans-serif;
$body-font: 'Catamaran', sans-serif;

// Colors

$color-primary: #0057b8;

// Viewports

$brk-narrow 		:'(min-width: 768px)';
$brk-wide			:'(min-width: 1024px)'; 
